@charset "utf-8";
/* CSS Document */

* {
    -webkit-user-select:html;
    -khtml-user-select:html;
    -moz-user-select:html;
    -ms-user-select:html;
    user-select:html;
}



/*나눔바른코딩웹폰트*/

@font-face{
    font-family: "CabinCondensedB";
    src: url('/font/CabinCondensed-Bold_2.eot');
    src: local('?'),
         url('/font/CabinCondensed-Bold_2.woff') format('woff'),
         url('/font/CabinCondensed-Bold_2.ttf') format('truetype');
}

@font-face{
    font-family: "CabinCondensedSB";
    src: url('/font/CabinCondensed-SemiBold_1.eot');
    src: local('?'),
         url('/font/CabinCondensed-SemiBold_1.woff') format('woff'),
         url('/font/CabinCondensed-SemiBold_1.ttf') format('truetype');
}

@font-face{
    font-family: "CabinCondensedR";
    src: url('/font/CabinCondensed-Regular_2.eot');
    src: local('?'),
         url('/font/CabinCondensed-Regular_2.woff') format('woff'),
         url('/CabinCondensed-Regular_2.ttf') format('truetype');
}

@font-face{
    font-family: "CabinCondensedM";
    src: url('/font/CabinCondensed-Medium_2.eot');
    src: local('?'),
         url('/font/CabinCondensed-Medium_2.woff') format('woff'),
         url('/font/CabinCondensed-Medium_2.ttf') format('truetype');
}


@font-face{
    font-family: "맑은 고딕";
    src: url('/font/malgun.eot');
    src: local('?'),
         url('/font/malgun.woff') format('woff'),
         url('/font/malgun.ttf') format('truetype'),
         url('/font/malgun.svg#맑은 고딕') format('svg');
}

@font-face{
    font-family: Malgun Gothic;
    src: url('/font/malgun.eot');
    src: local('?'),
         url('/font/malgun.woff') format('woff'),
         url('/font/malgun.ttf') format('truetype'),
         url('/font/malgun.svg#Malgun Gothic') format('svg');
}


@font-face{
    font-family: MalgunGothic;
    src: url('/font/malgun.eot');
    src: local('?'),
    url('/font/malgun.woff') format('woff'),
    url('/font/malgun.ttf') format('truetype'),
    url('/font/malgun.svg#MalgunGothic') format('svg');
}



/*Reset*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, big, cite, code, del, dfn, em, font, img, ins,
q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: none 0; }
caption{text-indent:-10000px;}
.blind{overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;}
html, body { width:100%; height:100%;  }
body { background-color:#fff;}
body, input, button, textarea { font-size:12px; line-height:1.5em; font-family:"맑은 고딕", "Malgun Gothic", MalgunGothic, Dotum, Helvetica, AppleGothic, Sans-serif; color:#666;}
h1, h2, h3, h4, h5, h6 { font-size:12px; text-align:left; line-height: 1.2em; letter-spacing: -0.03em;}
img, fieldset, iframe { border:0 none; }
table, div { border-collapse: collapse;}
select, textarea { border: 1px solid #B7B6B6; background: #FFFFFF; color: #222222; font-size: 12px; vertical-align: middle; }
textarea { overflow:auto; }
select, input, img, li { vertical-align: middle; text-align:left; }
address, caption, cite, code, dfn, em, strong, th, var { font-style : normal; font-weight : normal; }
ul, li, ol { list-style-type: none;}
legend,  caption { display: none; }
hr { border-collapse:collapse; display:none; }
a:link, a:visited { text-decoration:none; color: #626262; }
a:hover { text-decoration:none; color: #626262;}
p {font-size:12px; text-align:left; line-height: 1.5em; letter-spacing: -0.04em;}


*.cabinB{font-family: "CabinCondensedB", CabinCondensedB !important;}
*.cabinSB{font-family: "CabinCondensedSB", CabinCondensedSB !important;}
*.cabinM{font-family: "CabinCondensedM", CabinCondensedM !important;}
*.cabinR{font-family: "CabinCondensedR", CabinCondensedR !important;}


/*hidden*/
#accessibility,.skipnavi { position: absolute ; width: 0px; height: 0px; font-size: 0px; line-height: 0px; overflow: hidden; visibility: hidden; text-indent: -1000px; }

/* clearfix */
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
 /* Hides from IE-mac \*/
*html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.on{display:block !important;}

.bot_borderNone{border-bottom: none !important;}
/* common */
.common_padding{ padding: 25px; }

.wrap input[type="checkbox"], .wrap input[type="radio"]{
    background: red;
}
