@charset 'utf-8';
/*********************
  Author : 2014-11-08 
***********************/
/* reset */
body{margin:0;}
body *{box-sizing:content-box;}
h1,h2,h3,h4,h5,h6{margin:0;font-size:inherit;}
p{margin:0;}
a{color:inherit;text-decoration:none;}
dl,ul,dt,dd,ol,li{margin:0;padding:0;list-style:none;}
address{font-style:normal;}

input[type=text],
input[type=password]{font-size:inherit;line-height:auto;color:inherit;}
input[type=checkbox]{font-size:inherit;line-height:auto;color:inherit;}
select{font-size:inherit;line-height:auto;color:inherit;}